<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedHeaven</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color: rgb(33, 37, 41);">
    <nav class="navbar navbar-expand-lg navbar" style="background-color: rgb(33, 37, 41);">
        <a class="navbar-brand" href="#" style="color: #FFFFFF; font-weight: bold; font-size: 28px;">MedHeaven</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="margin-left: 50px; margin-right: 25px;">
                    <a class="nav-link" href="{% url 'index' %}" style="color: #FFFFFF; font-weight: bold;">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'get_medicines' %}" style="color: #FFFFFF; font-weight: bold;">Get Medicines</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %} 
    {% endblock content %}


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>